<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Courses Assignment</title>
  <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
</head>
<body>
  <h1> Add a new course </h1>
  <form action="/add_course" method="post">
    {% csrf_token %}
    Course name: <input type="text" name="name"><br>
    Description:// <textarea name="desc" rows="4" cols="50"></textarea>
    <input type="submit" value="ADD">
  </form>

  <h2>Courses</h2>

 <table>
  <tr>
    <th>Course Name</th>
    <th>Description</th>
    <th>Date Added</th>
    <th>Actions</th>
  </tr>

  {% for item in datas %}
  <tr>
    <td>{{ item.course }}</td>
    <td>{{ item.description }}</td>
    <td>{{ item.created_at }}</td>
    <td><a href="http://localhost:8000/destroy/{{item.id}}">Remove</a></td>
  </tr>
  {% endfor %}

</table>

</body>
</html>
